<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Library/js/jquery-3.3.1.min.js"></script>
    <script src="~/Library/js/jquery-2.1.4.min.js"></script>
    <script src="~/Library/js/Validaciones.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <title>BanBif | Formulario de prevención - COVID19</title>

    <!-- Bootstrap -->
    <link href="~/Library/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Library/css/login.css" rel="stylesheet" />

    <script type="text/javascript">

        function Cargando() {
            $('#process-data-loader').show();
        }
    </script>
</head>
<body style="background-color:#00A5FF">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 mt-3 pb-2 mb-4  border-bottom">
                <img class="m-t-sm" height="20" src="~/Library/img/logo.png" />
            </div>
            <div class="col-lg-11 mt-2 pb-2 mb-4  border-bottom">
                <span style="color: white;font-size: 23px;">| Formulario de prevención - COVID19</span>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row" m-auto>
            <div class="col-lg-12 text-center text-white">
                <img src="~/Library/img/hola.png" height="50" />
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6 text-white text-center mb-3">
            </div>
        </div>

    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <input id="hidMensaje" type="hidden" value="@ViewBag.Mensaje" />
            </div>
            <div class="col-lg-4">
                <div class="card animated fadeIn" style="border-radius:10px !important">

                    <div class="bg-white card-body" style="border-radius:10px !important">
                        <div class="row">
                            <div class="col-lg-12 mb-3 text-primary text-center">
                                <h2><b>LOGIN</b></h2>
                            </div>
                            <div class="col-lg-12 text-center">
                                <input type="text" onkeypress="return soloNumeros(event)" id="txtDocumento" name="txtDocumento" maxlength="8" class="form-control form-control-lg text-center mb-2" placeholder="Nro. Documento" required autocomplete="off" />
                                <div class="g-recaptcha" data-sitekey="6LePgKMUAAAAAK96lIyje7v2UFzIC33loqabo38N"></div>
                                <div id="process-data-loader" class="notdisplay">
                                    <img src="~/Library/img/ajax-loader.gif" alt="" />
                                    <label>Validando credenciales...</label>
                                </div>

                                <div id="div-continuar">

                                    <button type='button' id="btnLogin" name='btn_login' class='btn btn-primary mt-2 text-white' onclick="Cargando()">Ingresar</button>

                                </div>

                                <br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center pt-1 mt-5 border-top text-white">
                <img src="~/Library/img/logo.png" height="15" />
            </div>
        </div>

    </div>
    <script src="~/Library/js/bootstrap.min.js"></script>



    <script>

        var contador = 0;

        $(document).ready(function () {
            sessionStorage.setItem("URL", "@ViewBag.Url");
            sessionStorage.setItem("APP","@ViewBag.App");

        $(this).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                $("#btnLogin").click();
            }
        });

        $("#btnLogin").on("click", function () {


           var response = grecaptcha.getResponse();

            if (response.length == 0) {
                alert("Captcha no verificado");
                return;
            }


            var oBELoginRequest = {};
            oBELoginRequest.Documento = $("#txtDocumento").val();

            $.ajax({
                url: sessionStorage.URL + 'Login/IniciarSesion',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: true,
                data: JSON.stringify(oBELoginRequest),
                success: function (responseLogin) {
                    console.log(responseLogin);
                    sessionStorage.setItem("Documento", oBELoginRequest.Documento);
                   
                    if (responseLogin.Result) {
                        sessionStorage.setItem("CodigoAuto", responseLogin.Data.CodigoAuto);
                        FechaRegistro();
                    } else {
                        sessionStorage.setItem("CodigoAuto", "0");
                        window.location.href = sessionStorage.URL + "/Formulario";
                    }
                    
                },
                failure: function (msg) {
                    console.log(msg);
                    //  $.unblockUI();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    //  $.unblockUI();
                },
                complete: function () {
                    //$.unblockUI();
                    //$("#prueba").dialog("close")
                }
            });

        });
        });

        function FechaRegistro() {

           

            var oBEFecha = {};
            oBEFecha.CodigoAuto = sessionStorage.CodigoAuto

            $.ajax({
                url: sessionStorage.URL + 'Login/ObtenerFechaRegistro',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: true,
                data: JSON.stringify(oBEFecha),
                success: function (colaboradorResponse) {
                    console.log(colaboradorResponse);

                    if (colaboradorResponse.Result==true) {

                        if (colaboradorResponse.Data.ContadorFechaRegistro == 0) {

                            window.location.href = sessionStorage.URL + "/Formulario";

                        } else {

                            sessionStorage.setItem("NombreColaborador", colaboradorResponse.Data.NombreColaborador);

                            sessionStorage.setItem("Mensaje", colaboradorResponse.Data.MensajeHtml);

                            window.location.href = sessionStorage.URL + "/Gracias";

                            }
                    } else {
                        sessionStorage.setItem("CodigoAuto", "0");
                        window.location.href = sessionStorage.URL + "/Formulario";
                    }

                   
                },
                failure: function (msg) {
                    console.log(msg);
                    //  $.unblockUI();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    //  $.unblockUI();
                },
                complete: function () {
                    //$.unblockUI();
                    //$("#prueba").dialog("close")
                }
            });

        }

    </script>
</body>
</html>
